extends layout

block content
    header.docs-header
        span.docs-header-breadcrumb DOCUMENTATION
    article.docs-wrapper.clearfix.
        <div class="content_docs">
                <section class="docs-section text-center panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <p class="lead">Our RESTful API provides access to OrderCloud.io's B2B eCommerce
                                    platform-as-a-service.
                                </p>
                                <h2><a href="" class="btn btn-primary btn-lg">API reference</a></h2>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="docs-section">
                    <div class="row">
                        <div
                             class="col-sm-6 col-md-3">
                            <div class="guides-chapter">
                                <h2 class="scalable-header">Getting Started</h2>
                                <p>4 Guides</p>
                                <figure>
                                    <img src="assets/images/docs-guides/graphic-platform.svg" alt="">
                                    <img class="top-graphic" src="assets/images/docs-guides/03.svg" alt="">
                                </figure>
                            </div>
                        </div>
                        <div
                             class="col-sm-6 col-md-3">
                            <div class="guides-chapter">
                                <h2 class="scalable-header">Authentication</h2>
                                <p>6 Guides</p>
                                <figure>
                                    <img src="assets/images/docs-guides/graphic-platform.svg" alt="">
                                    <img class="top-graphic" src="assets/images/docs-guides/02.svg" alt="">
                                </figure>
                            </div>
                        </div>
                        <div
                             class="col-sm-6 col-md-3">
                            <div class="guides-chapter">
                                <h2 class="scalable-header">Basic API Features</h2>
                                <p>7 Guides</p>
                                <figure>
                                    <img src="assets/images/docs-guides/graphic-platform.svg" alt="">
                                    <img class="top-graphic" src="assets/images/docs-guides/01.svg" alt="">
                                </figure>
                            </div>
                        </div>
                        <div
                             class="col-sm-6 col-md-3 col-offset-6">
                            <div class="guides-chapter">
                                <h2 class="scalable-header">Integrations</h2>
                                <p>2 Guides</p>
                                <figure>
                                    <img src="assets/images/docs-guides/graphic-platform.svg" alt="">
                                    <img class="top-graphic" src="assets/images/docs-guides/04.svg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <section class="docs-section panel panel-default clearfix">
                            <h2 class="text-center scalable-header">
                                Frameworks & Libraries
                            </h2>
                            <p>Take advantage of our rapid development tools & resources.</p>
                            <div class="panel-body">
                                <ul class="logo-list">
                                    <li>
                                        <a href="" >
                                            <figure>
                                                <img src="assets/images/docs-frameworks/logos/angular_logo.svg" alt="AngularJS">
                                                <h6 class="caption">AngularJS</h6>
                                            </figure>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" >
                                            <figure>
                                                <img src="assets/images/docs-frameworks/logos/Python_logo.svg" alt="Python">
                                                <h6 class="caption">Python</h6>
                                            </figure>
                                        </a>
                                    </li>
                                    <li>
                                        <figure class="coming-soon" uib-tooltip="Coming Soon!">
                                            <img src="assets/images/docs-frameworks/logos/PHP_logo.svg" alt="PHP">
                                            <h6 class="caption">PHP</h6>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="coming-soon" uib-tooltip="Coming Soon!">
                                            <img src="assets/images/docs-frameworks/logos/Ruby_logo.svg" alt="Ruby">
                                            <h6 class="caption">Ruby</h6>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="coming-soon" uib-tooltip="Coming Soon!">
                                            <img src="assets/images/docs-frameworks/logos/Javascript_logo.svg" alt="Javascript">
                                            <h6 class="caption">Javascript</h6>
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <section class="docs-section panel panel-default clearfix">
                            <h2 class="text-center scalable-header">
                                Integration Services
                            </h2>
                            <p>Learn how to set up & use our standard integrations.</p>
                            <div class="panel-body">
                                <ul class="logo-list">
                                    <li>
                                        <a href="">
                                            <figure>
                                                <img src="assets/images/docs-frameworks/logos/avalara_logo.svg" alt="AngularJS">
                                                <h6 class="caption">Avalara</h6>
                                            </figure>
                                        </a>
                                    </li>
                                    <li>
                                        <figure class="coming-soon" uib-tooltip="Coming Soon!">
                                            <img src="assets/images/docs-frameworks/logos/authorizenet_logo.svg" alt="Authorize.NET">
                                            <h6 class="caption">Auth.NET</h6>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="coming-soon" uib-tooltip="Coming Soon!">
                                            <img src="assets/images/docs-frameworks/logos/mailchimp_logo.svg" alt="Mailchimp">
                                            <h6 class="caption">Mailchimp</h6>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="coming-soon" uib-tooltip="Coming Soon!">
                                            <img src="assets/images/docs-frameworks/logos/easypost_logo.svg" alt="EasyPost">
                                            <h6 class="caption">EasyPost</h6>
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>






